@{
    ViewData["Title"] = "Home Page";
}

    

<div>
    <h2>Sugerencia de receta</h2>

    <form asp-controller="Home" asp-action="SugeridorReceta" method="get">

        Nombre
        <input type="text" id="nombre" name="Nombre" />

        <br><br>

        Fecha de nacimiento
        <input type="date" id="fechaNacimiento" name="FechaNacimiento" />

        <br><br>

        Tipo de comida

        <input type="radio" name="tipoComida" value="caliente" /> Caliente

        <input type="radio" name="tipoComida" value="frio" /> Fría

        <br><br>

        Presupuesto
        <input type="number" id="presupuesto" name="Presupuesto" />

        <br><br>

        Cantidad de personas
        <input type="number" id="cantComensales" name="CantComensales" min="1" max="20" />

        <br><br>

        <input type="submit" value="Enviar" />

    </form>
</div>
